@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0 auto;
  max-width: 50rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1,
h2,
strong {
  color: #333;
}

/* Need high specificity to override `prose a` */
a.image-link {
  text-decoration: none;
}
