@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
  scroll-behavior: smooth;
  font-size: 14px;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
strong {
  color: #333;
}

.hero {
  background-image: url('https://storage.googleapis.com/taiwan-peaks/hero.jpg');
}

.full-width-bg {
  margin-left: -999rem;
  margin-right: -999rem;
  padding-left: 999rem;
  padding-right: 999rem;
}

a {
  text-decoration: underline;
}
