@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1,
h2,
strong {
  color: #333;
}

.hero {
  background-image: url('/assets/images/hero.jpg');
}

.toc ol {
  counter-reset: item;
}

.toc li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}
