---
layout: top_100
author: Dawid
excerpt: A sacred mountain of the Amis tribe, it's a relatively tough hike with rewarding views on the top.
tags: "Small Top 100"
info:
  - dt: Difficulty
    dd: "4/5"
  - dt: Duration
    dd: 3h 40min
  - dt: Date of the hike
    dd: 9 October 2020
  - dt: Group size
    dd: 2 + 2, myself and Tati a bit behind Ada and Peggy
  - dt: Public transport
    dd: Nearest bus stop 8km away from the trail entrance (see <a href="#transportation" class="underline">Transportation</a>)
  - dt: Total length
    dd: 9.6km
  - dt: Total elevation gain
    dd: 836m
---

<header>
  <div class="bg-gray-500 p-4">
    <div class="toc font-semibold mb-1">Table of contents</div>
    <ol>
      <li>
        <a href="#general-information">General information</a>
      </li>
      <li>
        <a href="#before-you-begin">Before you begin</a>
        <ol>
          <li class="ml-4"><a href="#trail-entrances">Trail entrance</a></li>
          <li class="ml-4"><a href="#transportation">Transportation and parking</a></li>
        </ol>
      </li>
      <li>
        <a href="#the-hike">The hike</a>
        <ol>
          <li class="ml-4"><a href="#day-1">Day 1</a></li>
          <li class="ml-4"><a href="#day-2">Day 2</a></li>
          <li class="ml-4"><a href="#day-3">Day 3</a></li>
          <li class="ml-4"><a href="#day-4">Day 4</a></li>
        </ol>
      </li>
      <li>
        <a href="#alternatives">Alternative itineraries</a>
        <ol>
          <li class="ml-4"><a href="#alt-6-days">6 days</a></li>
          <li class="ml-4"><a href="#alt-5-days">5 days</a></li>
          <li class="ml-4"><a href="#alt-3-days">3 days</a></li>
        </ol>
      </li>
    </ol>
  </div>
  <h2 id="general-information" class="text-4xl font-bold">General information</h2>
  {% for def in page.info %}
    <dl class="flex my-1">
      <dt class="w-2/5 font-semibold">{{def.dt}}</dt>
      <dd class="w-2/5">{{def.dd}}</dd>
    </dl>
  {% endfor %}
</header>
<section class="mt-5 space-y-6">
  <h2 id="before-you-begin" class="text-4xl font-bold">Before you begin</h2>
  <h3 id="trail-entrances" class="text-2xl font-semibold">Trail entrance</h3>
  The entrance is in Baliwan (八里灣), located in Fengbin Village (豐濱村). There is a big parking lot
  <a href="https://goo.gl/maps/gmdu9k4q8KzAokk79" class="underline">here</a>, right at the entrance. The hike starts by crossing a river,
  don't attempt this after a typhoon or otherwise rainy period, it might be difficult to cross.
  <h3 id="transportation" class="text-2xl font-semibold">Transportation</h3>
  <p>
    As usual car or scooter is the best option. If you don't mind running on the road before and after the hike you could technically run
    from the main road in Fengbin, around 8km away from the trail entrance. At the moment of writing there are three buses going there from Hualian Station (花蓮車站),
    those are 1140, 1140A and 1145. There is also bus 1125 from Guangfu Train Station (光復車站). It's a shorter route, but the buses aren't
    frequent. <a href="https://goo.gl/maps/1YETN6QaxxYmq9Tq9" class="underline">This</a> is the bus stop you want, there is a 7-11 and a few
    restaurants around as well.
  </p>
</section>
<section class="mt-5 space-y-6">
  <h2 id="the-hike" class="text-4xl font-bold">The Hike</h2>
  <p>
    I snapped enough photos on this hike to make this a photo blog, follow the photo descriptions.
  </p>
  {% include blog_img.html id="001" text="From the parking climb the river embankment and cross the river either by small stones upstream or
  jump on the large ones below." %}
  {% include blog_img.html id="002" text="On the other side look left and you should see stairs you'll need to climb. Continue uphill." %}
  {% include blog_img.html id="003" text="After a while you'll reach these gigantic trees with monkeys jumping on its branches above you." %}
  {% include blog_img.html id="004" text="Another climb from here." %}
  {% include blog_img.html id="005" text="You'll reach this intersection after the climb, coming from the direction marked as 往八里灣部落
  (To Baliwan Tribe). The other sign points to some kind of local road, but I'm not
  sure this actually leads anywhere. Continue on the forest road (turn right after the uphill)." %}
  {% include blog_img.html id="006" text="The part right before this bridge is quite slippery, take care here." %}
  {% include blog_img.html id="007" text="After a while you'll reach a bigger river that you'll have to cross. The entry back to the trail
  is to the left, where the ribbon is in this photo. Remember this spot for when you come back." %}
  {% include blog_img.html id="008" text="Another slightly confusing place with ribbons on both sides. Follow the left one, right one leads
  to a small campground." %}
  {% include blog_img.html id="009" text="There are a few places that might have been hunter's grounds or living area in the old times, this
  is the first one." %}
  {% include blog_img.html id="010" text="Another steep climb follows." %}
  {% include blog_img.html id="011" text="Watch out here, it's the muddiest place on the whole trail." %}
  {% include blog_img.html id="012" text="Another, more recent, hunter's ground." %}
  {% include blog_img.html id="013" text="After another small climb you'll finally be able to see the peak. The final ascent is quite tricky
  and steep with a few rope sections." %}
  {% include blog_img.html id="014" text="The peak is full of commemorative stones." %}
  {% include blog_img.html id="015" text="Baliwanshan, no. 91 of Small Top 100" %}
  {% include blog_img.html id="018" text="The weather was getting cloudy, but the views were still great. This is looking north with Fengbin
  village visible in the middle." %}
  {% include blog_img.html id="019" text="View south is not as spectacular, with plants blocking the way." %}
  <p>
    After snapping some pictures on the peak make your way back. Go slow on the downhill close to the peak, remember to turn left and then
    right in the river and go left when you reach the red signs (往八里灣部落).
  </p>
</section>
