---
layout: top_100
author: Dawid
excerpt: A sacred mountain of the Amis tribe, it's a relatively tough hike with rewarding views on the top.
tags: "Small Top 100"
info:
  - dt: Difficulty
    dd: "4/5"
  - dt: Duration
    dd: 3h 40min
  - dt: Date of the hike
    dd: 9 October 2020
  - dt: Group size
    dd: 2 + 2, myself and Tati a bit behind Ada and Peggy
  - dt: Public transport
    dd: Nearest bus stop 8km away from the trail entrance (see <a href="#transportation" class="underline">Transportation</a>)
  - dt: Total length
    dd: 9.6km
  - dt: Total elevation gain
    dd: 836m
---

<header>
  <div class="bg-gray-500 p-4">
    <div class="toc font-semibold mb-1">Table of contents</div>
    <ol>
      <li>
        <a href="#general-information">General information</a>
      </li>
      <li>
        <a href="#before-you-begin">Before you begin</a>
        <ol>
          <li class="ml-4"><a href="#trail-entrances">Trail entrance</a></li>
          <li class="ml-4"><a href="#transportation">Transportation and parking</a></li>
        </ol>
      </li>
      <li>
        <a href="#the-hike">The hike</a>
        <ol>
          <li class="ml-4"><a href="#day-1">Day 1</a></li>
          <li class="ml-4"><a href="#day-2">Day 2</a></li>
          <li class="ml-4"><a href="#day-3">Day 3</a></li>
          <li class="ml-4"><a href="#day-4">Day 4</a></li>
        </ol>
      </li>
      <li>
        <a href="#alternatives">Alternative itineraries</a>
        <ol>
          <li class="ml-4"><a href="#alt-6-days">6 days</a></li>
          <li class="ml-4"><a href="#alt-5-days">5 days</a></li>
          <li class="ml-4"><a href="#alt-3-days">3 days</a></li>
        </ol>
      </li>
    </ol>
  </div>
  <h2 id="general-information" class="text-4xl font-bold">General information</h2>
  <!-- Add note about duration -->
  <!-- TODO split to sections-->
  <!-- TODO image overlay for mountain panoramas -->
  {% for def in page.info %}
    <dl class="flex my-1">
      <dt class="w-2/5 font-semibold">{{def.dt}}</dt>
      <dd class="w-2/5">{{def.dd}}</dd>
    </dl>
  {% endfor %}
</header>
<section class="mt-5 space-y-6">
  <h2 id="before-you-begin" class="text-4xl font-bold">Before you begin</h2>
  <h3 id="trail-entrances" class="text-2xl font-semibold">Trail entrance</h3>
  The entrance is in Baliwan (八里灣), located in Fengbin Village (豐濱村). There is a big parking lot
  <a href="https://goo.gl/maps/gmdu9k4q8KzAokk79" class="underline">here</a>, right at the entrance. The hike starts by crossing a river,
  don't attempt this after a typhoon or otherwise rainy period, it might be difficult to cross.
  <h3 id="transportation" class="text-2xl font-semibold">Transportation</h3>
  <p>
    As usual car or scooter is the best option. If you don't mind running on the road before and after the hike you could technically run
    from the main road in Fengbin, around 8km away from the trail entrance. At the moment of writing there are three buses going there from Hualian Station (花蓮車站),
    those are 1140, 1140A and 1145. There is also bus 1125 from Guangfu Train Station (光復車站). It's a shorter route, but the buses aren't
    frequent. <a href="https://goo.gl/maps/1YETN6QaxxYmq9Tq9" class="underline">This</a> is the bus stop you want, there is a 7-11 and a few
    restaurants around as well.
  </p>
</section>
<section class="mt-5 space-y-6">
  <h2 id="the-hike" class="text-4xl font-bold">The Hike</h2>
  <p>
    From the parking lot climb the embankment, go down to the river and cross it. There are stairs on the other side to your left, make your
    way there and climb up. From here on it's mostly climb with a bit of flat terrain around 
  </p>
  {% include blog_img.html id="001" text="" %}
  {% include blog_img.html id="002" text="" %}
  {% include blog_img.html id="003" text="" %}
  {% include blog_img.html id="004" text="" %}
