<h4 class="text-lg">{{ include.name }}</h4>
<dl class="flex my-1">
  <dt class="w-2/5 font-semibold">Length</dt>
  <dd class="w-2/5">{{ include.length }}</dd>
</dl>
<dl class="flex my-1">
  <dt class="w-2/5 font-semibold">Time taken</dt>
  <dd class="w-2/5">{{ include.time_us }}</dd>
</dl>
<dl class="flex my-1">
  <dt class="w-2/5 font-semibold">Map time</dt>
  <dd class="w-2/5">{{ include.time_map }}</dd>
</dl>
<dl class="flex my-1">
  <dt class="w-2/5 font-semibold">Relative difficulty</dt>
  <dd class="w-2/5">{{ include.difficulty }}</dd>
</dl>
<dl class="flex my-1">
  <dt class="w-2/5 font-semibold">Cabins and campsites</dt>
  <dd class="w-2/5">{{ include.accommodation }}</dd>
</dl>
