---
layout: post
author: Dawid
excerpt: Considered one of the most beautiful hikes in Taiwan, this multi-day trek features multiple
  seas of bamboo, lakes and countless deers creeping near your tent at night.
tags: "Top 100"
info:
  - dt: Difficulty
    dd: "4/5"
  - dt: Duration
    dd: 4 days
  - dt: Date of the hike
    dd: 2020-10-01 &ndash; 2020-10-04
  - dt: Group size
    dd: 2 + 2, myself and Tati always a few hours behind Ada and Peggy
  - dt: Public transport
    dd: Unavailable
  - dt: Total length
    dd: 55km
  - dt: Total elevation gain
    dd: 4100m
  - dt: Water availability
    dd: Good
  - dt: Tent necessary?
    dd: "Yes"
  - dt: Closest Hot Spring
    dd: <a href="https://goo.gl/maps/bqSBCwEZaHBrcWYL8")>Lushan Hot Spring</a>
headers:
  - level: h2
    text: General information
---
<header>
  <div class="bg-gray-500 p-4">
    <div class="toc font-semibold mb-1">Table of contents</div>
    <ol>
      <li><a href="#general-information">General information</a></li>
      <li>
        <a href="#before-you-begin">Before you begin</a>
        <ol>
          <li class="ml-4"><a href="#accommodation">Accommodation</a></li>
          <li class="ml-4"><a href="#transportation">Transportation and parking</a></li>
          <li class="ml-4"><a href="#trail-entrances">Trail entrances</a></li>
        </ol>
      </li>
      <li>
        <a href="#the-hike">The hike</a>
        <ol>
          <li class="ml-4"><a href="#day-1">Day 1</a></li>
          <li class="ml-4"><a href="#day-2">Day 2</a></li>
          <li class="ml-4"><a href="#day-3">Day 3</a></li>
          <li class="ml-4"><a href="#day-4">Day 4</a></li>
        </ol>
      </li>
      <li>
        <a href="#alternatives">Alternative itineraries</a>
      </li>
    </ol>
  </div>
  <h2 id="general-information" class="text-4xl font-bold">General information</h2>
  <!-- Add note about duration -->
  <!-- TODO more difficulty information, alternative plans -->
  <!-- TODO split to sections-->
  <!-- TODO TOC -->
  <!-- TODO image overlay for mountain panoramas -->
  <!-- TODO add list of Baiyue on this hike -->
  {% for def in page.info %}
    <dl class="flex my-1">
      <dt class="w-2/5 font-semibold">{{def.dt}}</dt>
      <dd class="w-2/5">{{def.dd}}</dd>
    </dl>
  {% endfor %}
  <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md my-8" role="alert">
    <div class="flex">
      <div class="py-1">
        <svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
        </svg>
      </div>
      <div>
        <p class="font-bold">This is a relatively fast multi day hike</p>
        <p class="text-sm">We did this hike in 4 days and it's normally done in 5 or 6. Make sure you read through alternative
        plans and plan your trip according to your experience and fitness level. I do not recommend making this your first mutli-day Top 100
        trip, there are easier ones out there.</p>
      </div>
    </div>
  </div>
  <!-- TODO reconsider this, what's in a section and could we show this information in a better way?
  <h3 class="text-2xl font-semibold">Trail sections</h3>
  <section>
    {% include section.html name="Section 1: Tunyuan Trail Entrance (屯原登山口) &ndash; Monument of Spread Light Across the Land (光被八表)"
    length="16.3km" time_us="5h40min" time_map="6h20min" difficulty="1/5 The only difficult thing about this section is its length"
    accommodation="Tianchi Cabin is certainly the best place to stay and the only cabin on this trail, reservations required. As for
    campsites people camp at trail entrance or Yunhai to make the following (first proper) day shorter. You can also camp around Tianchi and
    there are some spots after that too, but fresh water available only from the cabin." %}
    {% include section.html name="Section 2: Monument of Spread Light Across the Land (光被八表) &ndash; Kaheer Mt (卡賀爾山)"
    length="3km" time_us="3h10min" time_map="3h" difficulty="4/5 it's a long climb, but the 4 is mostly due to undergrowth in some parts"
    accommodation="It's possible to camp under the electricity tower and later closer to the peak. Bring water from the cabin or use water
    from the lakes if you camp near the peak." %}
    {% include section.html name="Section 3: Kaheer Mt (卡賀爾山) &ndash; Nenggao Mt (能高山)"
    length="2km" time_us="2h30min" time_map="2h40min" difficulty="3/5 still a bit of a climb, but not that much undergrowth"
    accommodation="Small lake right after you get down from Kaheer, but probably better camp before or after this section." %}
    {% include section.html name="Section 4: Nenggao Mt (能高山) &ndash; China Lake (大陸池)"
    length="1.7km" time_us="55min" time_map="1h05min" difficulty="3/5 downhill, but again lots of undergrowth"
    accommodation="Plenty of small lakes where you can camp, best (and lowest) campground still at the end." %}
    {% include section.html name="Section 5: China Lake (大陸池) &ndash; Nenggao South Peak"
    length="2.7km" time_us="4h" time_map="4h15min" difficulty="4/5 tough steep climb, one or two tricky rope sections"
    accommodation="Nothing reasonable" %}
    {% include section.html name="Section 6: Nenggao South Peak &ndash; Nenggao South Peak south saddle campground"
    length="0.8km" time_us="1h" time_map="70min" difficulty="3/5 steep and tricky downhill"
    accommodation="The campground at the end, fresh water access to the east." %}
    {% include section.html name="Section 7: Nenggao South Peak south saddle campground &ndash; Guangtou Mt"
    length="2.7km" time_us="2h30min" time_map="2h30min" difficulty="2/5 the climb in the beginning is the only tough bit here"
    accommodation="There are two campgrounds to the left of the trail, both after the downhill from the peak. Better to stay in
    the previous one." %}
    {% include section.html name="Section 8: Guangtou Mt &ndash; Baishi Lake"
    length="1.5km" time_us="1h" time_map="1h40min" difficulty="3/5 dangerous cliff in the beginning, lost of undergrowth later"
    accommodation="Nothing reasonable, make your way to the lake." %}
  </section>
  -->
</header>
<section class="mt-5">
  <h2 id="before-you-begin" class="text-4xl font-bold">Before you begin</h2>
  <h3 id="trail-entrances" class="text-2xl font-semibold">Trail entrances</h3>
  The hike is usually done North to South. The North entrance is at <a href="#tunyuan">Tunyuan</a>:<br>
  <ul>
    <li><a href="https://www.openstreetmap.org/node/2419827013" class="underline">OpenStreetMap</a></li>
    <li><a href="https://goo.gl/maps/NBPYF8gyM4PiHPQC6" class="underline">Google Maps</a></li>
  </ul>
  The end is at Aowanda (奧萬大):<br>
  <ul>
    <li><a href="https://www.openstreetmap.org/way/237176221" class="underline">OpenStreetMap</a></li>
    <li><a href="https://goo.gl/maps/atwghpn88xFThgmW8" class="underline">Google Maps</a></li>
  </ul>
  <h3 id="transportation" class="text-2xl font-semibold">Transportation and Parking</h3>
  <p>
    It's difficult to do this hike without a car. You can try hitchhiking, but the road leading to
    the north entrance is used almost solely by hikers. Aowanda is quite popular so it might be
    easier to hitch a ride from there. If you drive your own car you'll still need to hire another driver to
    drive you back to your car.
  </p>
  <p>
    There are a few small parking lots at the entrance, but on busy
    weekends it might be difficult to find a spot. Keep going up until you find something making
    sure you don't block other cars. Another option is parking in Aowanda and having a driver help
    to get you to the entrance. This is less optimal for a few reasons:
    <ol>
      <li>
        There is a fee to enter Aowanda. You can always park on the road outside of the park,
        but there isn't that many spots and it means more walking after you finish.
      </li>
      <li>
        If weather turns bad on first or early second day and you need to retreat you'll have to
        use the driver again to get back to your car.
      </li>
      <li>
        You'll have to spend more time in the morning on first day. If you want to do this in 4 days the first days is quite long so it's
        probably better to get more sleep or spend that time hiking. Not that big of an issue if you're planning more days and staying at
        Tianchi Lodge (天池山莊) for your first night.
      </li>
    </ol>
  </p>
  <h3 id="accommodation" class="text-2xl font-semibold">Accommodation</h3>
  <p>
    Depending on your itinerary and hiking speed you might have to stay a night somewhere close to the
    entrance. A good option is Lushan Hot Spring Village (廬山溫泉), it has a lot of hotels and
    B&amp;Bs with different pricing. We stayed at
    <a href="https://goo.gl/maps/gAJwQx9DXBDsFSmn7">Lilai Hot Spring Hotel</a>. Like a lot of
    hotels in Taiwan the place isn't great, but it's cheap and breakfast is provided as early at
    night as you want. It also has small bathtub with hot spring water in the room. After the hike
    you can come back here and take a shower for 100NT.
  </p>
</section>
<section class="">
  <h2 id="the-hike" class="text-4xl font-bold">The Hike</h2>
  <h3 id="day-1" class="text-2xl font-semibold">Day 1</h3>
  <p>
    We woke up and had our breakfast at the hotel at 4, hopped on the car and after a short drive were lucky enough to find a parking spot
    at the second parking lot. We were on the trail shortly after 5.
    {% include blog_img.html path="nenggaoandongjun/001.JPG" text="Start!"  %}
    First half of the first day is spent on the Nenggao Cross Trail
    (能高越嶺古道), an old way between Puli and Hualien. The trail is in an excellent condition - so excellent in fact that motorbikes are
    used to cover the 13km from the trailhead to Tianchi cabin (天池山莊) to deliver supplies. Thanks to the wide road you can cover this
    distance relatively fast. After about 1.5h (4.8km in) we reached Yunhai (雲海保線所), an old cabin and a common resting stop. It would take us
    another 3h to reach Tianchi Cabin, passing massive landslides and waterfalls of different sizes. Nenggao waterfall, the biggest of
    them all, sits right before the cabin.
    {% include blog_img.html path="nenggaoandongjun/002.JPG" text="The biggest landslide on the trail" %}
    {% include blog_img.html path="nenggaoandongjun/003.JPG" text="Our first look at cloudy Nenggao Main Peak" %}
    {% include blog_img.html path="nenggaoandongjun/004.JPG" text="The magnificent Nenggao Waterfall" %}
  </p>
  <p>
    We took a short rest at Tianchi as Tati and I finally caught up with our faster companions Ada and Peggy. After a brief lunch we moved out continuing
    on the wide track for a bit longer.
    {% include blog_img.html path="nenggaoandongjun/005.JPG" text="As it cleared up a bit we could see Qingjing Farm in the distance" %}
    It takes about an hour from here to reach a well known landmark and a perfect example of how Chinese doesn't
    work great translated directly into English: "Monument of Spread Light Across the Land" (光被八表). It lies in the saddle
    between Nanhua and Nenggao peaks, with the former sometimes referred to as Nenggao North Peak. This is the highest point of Nenggao
    Cross Trail and is the point where our trail would split from it. Yet another split from here leads up to
    Nanhua and continues north to Qilai peaks. We wouldn't see a road this good for the next few days. In addition to the monument you'll
    see electricity towers crossing the mountains from East to West.
    {% include blog_img.html path="nenggaoandongjun/006.JPG" text="East section of Nenggao Cross Trail starts here. Follow this for a bit
    until you hit another split and take a right there. Before that drop your bags and head to the monument." %}
    {% include blog_img.html path="nenggaoandongjun/007.JPG" text="There is a separate small path leading here. Snap your
    pictures and head back to the intersection." %}
  </p>
  <p>
    One of the worst sections of this hike begins here with bamboo and other short vegetation blocking your way forward. Watch out for
    occasional holes in the ground (really easy to twist your ankle on those) and stones and branches at the inconvenient level of your
    knees.
    {% include blog_img.html path="nenggaoandongjun/008.JPG" text="Tati does not approve of this trail" %}
    There is an electricity tower you can see in the distance, that's your next target and rest stop. After the tower continue
    upwards and upwards until the trail begins to clear up just a bit with dwarf bamboo taking over other shrubs. You'll also start noticing
    small lakes scattered around.
    {% include blog_img.html path="nenggaoandongjun/009.JPG" text="Lots of dwarf bamboo" %}
    {% include blog_img.html path="nenggaoandongjun/010.JPG" text="First proper lake. Camping close to the peak and using lakes like this
    one for water is certainly an option." %}
    You're getting close to your first peak above 3000m on this trail: Kaheer Mt (卡賀爾山) at 3105m. It's a curious
    looking peak, or rather a collection of peaks. The main trail doesn't go through any of them, but it's only about 2 minute hike up to
    the main peak.
    {% include blog_img.html path="nenggaoandongjun/011.JPG" text="Getting close to Kaheer Mt" %}
    {% include blog_img.html path="nenggaoandongjun/012.JPG" text="As we approached the peak the weather turned worse again, luckily the
    trail wasn't so bad." %}
    {% include blog_img.html path="nenggaoandongjun/013.JPG" text="I'll spare you my terrible selfies from Kaheer peak, instead here's what
    the whole mountain looks like from the top" %}
    After this mountain you'll have to go down a bit and start another climb, this time finally to the main peak of Nenggao Mt (能高山) and your
    first Top 100 mountain on this trip. The mountains look close to each other on the map, but it still took us over 2h to reach the
    peak.
    {% include blog_img.html path="nenggaoandongjun/014.JPG" text="It doesn't look like it, but this peak is actually quite steep. You'll
    have to cross it on the way to Nenggao Main" %}
    {% include blog_img.html path="nenggaoandongjun/015.JPG" text="Finally the main peak of Nenggao Mt comes into view" %}
    By the time we got there the weather cleared up a bit, but it was also getting late. We had to hurry to our first
    campground, the China Lake (大陸池).
    {% include blog_img.html path="nenggaoandongjun/016.JPG" text="Nenggao Main Peak" %}
  </p>
  <p>
    The descent from Nenggao Main Peak is as tiring as the ascent was. You'll notice plenty of small lakes around and if you're coming on busy
    weekend like we did there'll be tents strewn across the mountain. If it's getting dark it's better you find a spot to camp here,
    there should be plenty of water around if you don't come in dry season.
    {% include blog_img.html path="nenggaoandongjun/017.JPG" text="Way down, our campground somewhere down there in the clouds" %}
    {% include blog_img.html path="nenggaoandongjun/018.JPG" text="A campsite right next to the peak, already full" %}
    We pushed on downhill with an occasional flattening or a minor
    bump, pushing through the undergrowth until we got a glimpse of our campground. The small area that hosts China lake is shaped
    similarly to Kaheer mountain, with sharp peaks around the levelled campground. A mountain crown, if you will. By the time we got
    there it was pretty dark and most good spots were taken, but one friendly porter invited us to share the space next to his tent.
    The water from the lake is drinkable if you treat it, but it's so dirty it clogged my filter pretty quick.
    After a short bite it was late enough that the whole campground was asleep so we tucked in as well.
  </p>
</section>
<section class="clearfix">
  <h3 id="day-2" class="text-2xl font-semibold">Day 2</h3>
  <p>
    It was around 2AM when first hikers woke up and started with their breakfast. We didn't sleep much the last few hours
    because of all the commotion, but got a bit more sleep after most hikers left waking up right before sunrise. The friendly porter from
    yesterday shared his water with us, they had enough from the fresh water source down the western slope of this hill. I haven't checked
    the source so unfortunately I'm unable to provide concrete directions. As we were preparing to leave we noticed small colourful dots on the
    next mountain - those were early risers still fighting with Nenggao South peak. We knew this would be a tough climb, but with the
    morning sun and a bit of sleep we were sure we could conquer it no problem.
    {% include blog_img.html path="nenggaoandongjun/019.JPG" text="Moon setting down in the West. I believe the water source is somewhere
    down this direction." %}
    {% include blog_img.html path="nenggaoandongjun/020.JPG" text="Morning sun over Nenggao Main peak and the ridge we came from with Qilai
    peaks in the back" %}
    {% include blog_img.html path="nenggaoandongjun/021.JPG" text="The first climb of the day. We need to climb the peak on the left first
    and from there follow the ridge to Nenggao South visible on the right." %}
    {% include blog_img.html path="nenggaoandongjun/022.JPG" text="Our camping spot" %}
  </p>
  <p>
    From the campground the trail is quite even for a while before starting the climb. There is a lot of overgrowth, but not more than
    yesterday.
    {% include blog_img.html path="nenggaoandongjun/023.JPG" text="First look at the neighbouring Ganzhuowan peaks. Just to the left of the
    range Jade Mt peaks pop out in the distance." %}
    After a while you'll hit a few tricky bits with ropes, stash your poles so that they don't get in the way and push on.
    There is one or two sections here where it's better to wait for the previous hiker to finish their climb due to falling rocks. Apart
    from that all you can do here is climb, it'll take a while. When you reach the top and climb a few giant rocks you should be able to see the peak.
    You won't be there yet, but you got the hardest part done. Take a rest, grab a bite and enjoy the view as it is magnificent on a clear day.
    If you look back you'll notice the campground in the saddle between this mountain and Nenggao Main Peak.
    Behind that peak Nanhua and Qilai peaks, extending to Qilai East Ridge. Closer to you the Ganzhuowan (干卓萬) range will be clearly
    visible in southwestern direction.
    {% include blog_img.html path="nenggaoandongjun/024.JPG" text="Qilai East Ridge (奇萊東陵)" %}
    {% include blog_img.html path="nenggaoandongjun/025.JPG" text="The ridge we conquered yesterday with Nenggao Main Peak and Kaheer
    mountain. In the far back you can see the Snow Mountain West Range." %}
    {% include blog_img.html path="nenggaoandongjun/026.JPG" text="Way to the peak" %}
    From here it would take us another 2 hours to get to the South Peak with the sun strong enough to
    force us to rest at every shaded
    location we could find. Similarly to Kaheer Mt, the peak of Nenggao South is a very short trek out of the main trail. Drop your bags,
    grab the peak and again enjoy the wonderful views from here. This is the highest you're going to be on this trip as the South Peak is
    higher than the main, sitting at 3349m. It's also one of the Top 100, one of the two you'll do on this day.
    {% include blog_img.html path="nenggaoandongjun/027.JPG" text="The South Peak of Nenggao Mt. In the back the three remaining Top 100
    peaks, in order: Guangtou Mt, Baishi Mt and Andongjun Mt." %}
  </p>
  <p>
    After a proper lunch break (nothing beats a sandwich with fresh tomato!) it was time to head down the mountain.
    {% include blog_img.html path="nenggaoandongjun/028.JPG" text="On the way down from the South Peak." %}
    As you start your
    descend you'll notice a few peaks in a group in front of you - the last of those peaks is your next target. Before reaching
    it you'll have to go all the way down to the valley. This descent is very steep and seemed more painful than the way up.
    There's a lot of big holes here so be careful and take your time.
    {% include blog_img.html path="nenggaoandongjun/029.JPG" text="Really steep." %}
    There's a campground at the bottom, but more importantly if you turn
    left (east) along the river you will eventually hit fresh water. There's still a few hours ahead of you and not many water sources so make sure you get plenty.
  </p>
  <p>
    Another climb awaits, luckily not as steep as the last one. You'll reach a peak eventually, the bad news is that's not the peak you
    want. The good news is this was your last serious climb for the day since Guangtou Mt (光頭山) is actually lower than this one. In
    fact there's a bunch of peaks here, but for some reason the peak marker is not on any of them. In any case continue downhill, steep in
    places, until you hit a small campground on the left before a small uphill.
    {% include blog_img.html path="nenggaoandongjun/030.JPG" text="Steep here too." %}
    Continue up and tread along until you hit another small campground,
    also on your left. After a very short while you should see some mud on the path - there is a small water source around
    here, should you need it. Push on and after another short while you'll see people on the peak. Well peak might be too big of a word
    for that, I honestly don't know what's up with this mountain. Take the pictures of your third Top 100 and the last one for the day. It was
    quite late at this time so we hurried on to the campsite.
    {% include blog_img.html path="nenggaoandongjun/031.JPG" text="The \"peak\" of Guangtou Mt" %}
  </p>
  <p>
    The downhill from Guangtou starts with rappelling down a cliff, we hit a small traffic jam here and had to wait for a few people to get down.
    {% include blog_img.html path="nenggaoandongjun/032.JPG" text="Traffic jam on the way down." %}
    Be careful here! About a week after our trip someone fell here and needed helicopter rescue. Be sure to stash your poles, use both arms to
    hold the line and make your way down slowly finding firm places to step on. There is a small easy landslide section after the cliff,
    but after it another gruelling
    downhill begins. It'll take about an hour of fighting through the undergrowth but eventually you'll see the tents scattered in front
    of Baishi lake (白石池).
    {% include blog_img.html path="nenggaoandongjun/033.JPG" text="First glimpse of the campsite below the clouds." %}
    {% include blog_img.html path="nenggaoandongjun/034.JPG" text="Finally at the campsite, Baishi Mt visible in the distance." %}
    We arrived at the campsite around 5PM, happy to see Ada and Peggy again.
    There is plenty of lakes here, but
    there's also a "fres" water source around. Looking back on it I'm not sure it's worth the visit, particularly when it's
    cloudy. It's pretty far, tricky to find and it's a lake outlet so not particularly fresher than the alternatives. With the whole area being relatively flat and full
    of lakes it can be really difficult to find your way back when clouds roll in. In fact someone got lost that evening and it took the
    porters a while to find him. Unless the weather is crystal clear and you don't mind the hike, filter the water from the big lake.
    As the night approached the campsite got encroached by the Sambar deer, beautiful animals that this campground (and trail in general) is
    known for. Over the years they unfortunately got used to hikers feeding them and so they might approach your tent uncomfortably close.
  </p>
  <aside class="bg-blue-100 ml-5 p-3">
    As with any wildlife make sure you don't feed the deers, try not to scare or touch them either. Occasionally they'll approach you,
    usually in small groups. Don't be alarmed, they're quite big, but completely harmless. When you go to sleep make sure all your food
    and other items are inside the tent. Not under the vestibule, they'll grab that, inside the tent proper.
  </aside>
  {% include blog_img.html path="nenggaoandongjun/035.JPG" text="Nothing like a proper food made by the best cook on the mountain." %}
</section>
<section>
  <h3 id="day-3" class="text-2xl font-semibold">Day 3</h3>
  <p>
    We woke up to an almost empty campground again, just before sunrise. Took us a while to get organised and snap some sunrise pictures,
    but eventually we headed to the trail.
    <aside class="bg-blue-100 ml-5 mb-3 p-3">
      Make sure you clean up thoroughly after yourself, the deers will be looking for any food scraps
      you might have left behind.
    </aside>
    {% include blog_img.html path="nenggaoandongjun/036.JPG" text="Guangtou Mt in the morning sun." %}
    {% include blog_img.html path="nenggaoandongjun/037.JPG" text="Baishi Mt and a deer chilling in the lake, Mononoke Hime vibes." %}
    {% include blog_img.html path="nenggaoandongjun/038.JPG" text="Deers enjoying the morning sun. Groups about this size will approach you
    often." %}
    {% include blog_img.html path="nenggaoandongjun/039.JPG" text="Baishi Lake." %}
    You can see the next mountain from the lake that you camped at, Baishi Mt (白石山). Bring some water with you,
    but just enough for the morning - there's a few points to refill on the way. Before you start the proper ascent walk to the left side of
    Baishi Lake, a bit above and after a while to the left of another lake. The "fresh" water source comes from this lake, on the other
    side. The hike up will take a while, but it's easier than previous morning.
    {% include blog_img.html path="nenggaoandongjun/040.JPG" text="Silvergrass shining in the morning sun." %}
    You'll start the hike heading directly at the peak, but
    eventually will circle to the left, go through a small forest and be on top shortly after that. Rest a bit and enjoy the
    views, on a clear day you can see as far as Yushan and Mabolasi in the far south. Directly North of you you should see Central Range Point
    peeking from behind Qilai peaks and Snow range to the left of that. You'll also see the final mountain of this range and your final
    climb for today: Andongjun Mt (安東軍山) in the south. It's a beautiful hike from this peak to that one, arguably the best section of
    this whole trip.
    {% include blog_img.html path="nenggaoandongjun/041.JPG" text="Baishi Mt with Ganzhuowan behind me." %}
    {% include blog_img.html path="nenggaoandongjun/042.JPG" text="The three peaks we did in the past 2 days visible here, with Baishi Lake
    sitting in a valley below." %}
    {% include blog_img.html path="nenggaoandongjun/043.JPG" text="View south over the Third South Section and Mabolasi in the distance.
    Andondjun Mt, our final peak of this trip, visible on the left." %}
  </p>
  <p>
    You should see quite a big lake below you and a hill after it, the hikers that got up before us were climbing it like little ants. The
    lake is called Wanli Lake (萬里池) and is the biggest of all the lakes you'll see in these few days.
    {% include blog_img.html path="nenggaoandongjun/044.JPG" text="Wanli lake sitting in the valley below." %}
    Make your way down the small peak next to this one and then further down to the lake.
    {% include blog_img.html path="nenggaoandongjun/045.JPG" text="Almost at the bottom." %}
    Once you reach the bottom you'll notice small streams here and there, there is a
    particularly good one at the end. The water is rushing quite strongly there so you should be able to notice it just by hearing, it'll be
    much louder than the other ones. Refill the water here for the next few hours and continue on to another nightmarish experience.
    The trail goes through a tall bamboo and with all the water around it's very muddy. You'll probably be careful in the
    beginnig, but this section is long enough that your shoes will eventually get muddy. After this section you'll reach a big clearing that you
    probably saw during the descent, a bit more bamboo follows and the climb begins.
  </p>
  <p>
    This part is pretty steep and seems high, but in reality it's less than 200m elevation gain.
    You'll reach a small pointy peak and from there continue traversing a few hills before eventually heading down to yet
    another lake: Tunlu Lake (屯鹿池).
    {% include blog_img.html path="nenggaoandongjun/046.JPG" text="Tunlu Lake and Andongjun Mt in the back. Don't worry about the peak on
    the left, you won't be climbing that." %}
    You'll hear some water here as well and if you really need to feel free to refill, but keep in mind
    there is a much nicer source not far from here. After you circle the lake you'll end up at a small campground, after which you'll see
    small sister lake (it literally has a "little sister" in its name) that you'll have to cross. The trail here might be a bit
    tricky, you'll want to go left (east) just before the lake, circle around by crossing the muddy ground and climb back up. Look for
    ribbons. After you cross the small ridge you'll find a stream, refill the water here. We got here around 12:30, if it's later or you
    feel tired you should probably fill in much more water here, enough for the night and next morning. Cross the river and continue slightly upwards. After a
    while you'll clear all the small hills and see the intersection before the last mountain.
    {% include blog_img.html path="nenggaoandongjun/047.JPG" text="Andongjun Mt getting closer." %}
    {% include blog_img.html path="nenggaoandongjun/048.JPG" text="The intersection campground had a small lake in it, the intersection
    itself is right next to the bigger one." %}
    The campsite here is literally called "Three
    way intersection campground" (三岔路口營地). Drop your bags around the lake, grab a small backpack if you have it or just a bottle of
    water if you don't and start climbing your last peak.
    {% include blog_img.html path="nenggaoandongjun/049.JPG" text="We ran into Ada and Peggy again here, us climbing the mountain and them
    going down. This would be the last time we'd see them until the end of the hike." %}
    Andongjun Mt is barely over 3000m, but this climb will still take you about an
    hour. It's worth it - the views from this peak are wonderful. You can see all the mountains you did over the last few days and the
    beautiful grassy hills to the south.
    {% include blog_img.html path="nenggaoandongjun/050.JPG" text="View south from Andongjun Mt with the Third South Section and Mabolasi
    in the distance." %}
    {% include blog_img.html path="nenggaoandongjun/051.JPG" text="Tati with her final peak for this trip and all the other one we bagged
    visible behind her." %}
    Make your way back to the intersection.
  </p>
  <p>
    By the time we finished the mountain it was around 3PM, but given that the next campground was only a few km away and all downhill we
    decided to continue. If you're here later than that I suggest stopping for the. I also suggest this campsite if it's rainy or about
    to rain, the other campsites might be dangerously close to the river if water level is too high. The campsite is very close to the
    intersection and if you haven't
    taken any water from the previous source you can filter the one from the small lake or look for a stream. I believe there should be one in
    both east and west directions. I saw porters looking for water on the west side, north of the trail going down. Be careful where
    looking for water here, it's all bamboo and there might be some dangerous drops here.
  </p>
  <p>
    Should you decide to continue brace yourself for a steep downhill. Not much to write about this section really, just push on down.
    {% include blog_img.html path="nenggaoandongjun/052.JPG" text="Most of the downhill is boring and tough, but there are some fun
    sections." %}
    There are two hunter's campgrounds here, literally called first hunter's campground (第一獵寮) and second hunter's campground (第二獵寮).
    Before you reach them you have to reach a stream that you'll be following all the way to Wanda South River (萬大南溪). At first you'll hear
    a stream to your right - that's not the one you're interested in. Once you hear a stream to your left you'll know
    you're close. Just before crossing the stream you'll notice a very small campground with a tarp on the ground. There's just enough
    space here for one or two tents, but another tent could potentially be set up on the other side of the river. Both of these are close
    to the river so be wary if it rains. Now up to this day I'm not sure if this is actually hunter's campground 1. The yellow sign you
    see here says it's not, but it's incorrect in many other regards (distances, position).
    <aside class="bg-blue-100 ml-5 p-3">
      You've seen these yellow signs throughout the hike and normally markers like this are helpful, but from now on it's safer to ignore
      them. Pretty much everything about them is wrong: coordinates and locations are way off and distances don't make sense.
    </aside>
    The next good campground is about
    3h away, something we were painfully unaware of. We refilled our water and continued.
    {% include blog_img.html path="nenggaoandongjun/053.JPG" text="After crossing the river for the first time. Camping possible before
    crossing, around where you can see the ribbon." %}
    After you cross the stream and go a
    bit below there is another place where you could potentially set up a tent or two. Continue down the river, to the other side and down
    again. Before we reached the river I was sure I saw some people, but since we didn't see anyone I figured my eyes were playing tricks on me.
    At this point though I noticed them again though so was sure we have some hikers ahead of us. We reached the river bed again and noticed a place where we
    could set up camp. It was in a dry river bed so not perfect, but the water level in the main river was low and no rain in forecast so we took the
    risk. As I was ready to set the tent though I heard people talking. I still wasn't sure about the first campground: have we reached it already or
    is it just in front of us? With that uncertainty in mind I shouted for the people ahead to wait a bit, switched to trail running mode
    on and ran to catch up with them. They were quite surprised to see me there, but informed me that indeed they couldn't find the first
    campground either. Bummed out I headed back only to hear them shouting back at me "Hey there's a campground here!" It was a very
    small one, just for one tent, but it wasn't right next to the river. They decided to continue so I went back to tell Tati the good
    news and after a while we set up our tent on the ledge high above the river. Finally done with this long day.
    {% include blog_img.html path="nenggaoandongjun/054.JPG" text="Our small campsite." %}
  </p>
</section>
<section>
  <h3 id="day-4" class="text-2xl font-semibold">Day 4</h3>
  <p>
    We woke up just before sunrise again and headed out. We knew the road ahead was tricky and didn't want to cover any of it at night. The
    first hour or two was just more of the same - steep downhill, cross the river, steep downhill...
    {% include blog_img.html path="nenggaoandongjun/055.JPG" text="Going down the river bed requires maneuvering between huge rocks." %}
    Eventually, just after 7AM, we reached the second hunter's campground. This is a proper one - enough space for a few small groups and still close enough to
    the river to fetch the water. Ada and Peggy spent the night here, so did the people I ran into last night. They must have covered a
    lot of ground at night.
    {% include blog_img.html path="nenggaoandongjun/056.JPG" text="The second hunter's campground. There's at least the same amount of space
    on the left side behind those trees." %}
    After the campground the trail
    goes up quite a bit, this climb took us by surprise. You then traverse the hill and eventually go down again to another small
    campground right next to the river. We assumed we can cross the river here, but things are never that easy here in Taiwanese
    mountains. From the campground you still have to climb up a bit and then go down again reaching the stream. Right after crossing it
    we reached a perfect spot for our late breakfast.
    {% include blog_img.html path="nenggaoandongjun/057.JPG" text="Finally out of the long downhill, time to eat something." %}
    {% include blog_img.html path="nenggaoandongjun/058.JPG" text="Spicy noodles, second best thing after hot pot." %}
    There is a choice to be made here as there are two trails that follow. The official
    trail climbs a nearby ridge and goes parallel to the river crossing a few campgrounds. The unofficial one goes right along the river.
    The riverbed of Aowanda South River, at this point, is a good few hundred meters wide with the stream itself meandering in a few
    meters wide ditch. If the weather
    is good and water level is not too high I recommend going along the river. If it's raining hard (or has been in the previous days),
    enough to give you trouble on the previous crossings, take the high way.
    The split might be a bit tricky to find as most ribbons point you to the mountain trail, just go down along the
    river and look for ribbons and stacked stones.
  </p>
  <p>
    You'll have to cross this old stream two times before reaching the big river. After the second crossing you'll go through a small forest
    and see the main river.
    {% include blog_img.html path="nenggaoandongjun/059.JPG" text="The last time you'll cross this stream as it joins Aowanda South Stream." %}
    {% include blog_img.html path="nenggaoandongjun/060.JPG" text="View over Aowanda South Stream, around the place you have to go down.
    You'll follow it all the way to that forested mountain riddled with landslides." %}
    It's quite a view, this experience will be quite different from the few last days. Follow the
    ribbon and go down to the riverbed, turn right and continue in the north direction. You'll have to cross the stream a few times, depending on what you wear you might want to take your
    shoes off. If you're hiking in trail running shoes don't bother, they'll dry instantly and you won't waste time putting them on and
    off again. This section is about 3km long, but it's a pleasure to walk on a "trail" like this and shouldn't take you too long. One thing
    to mind here is the sun, make sure you put your hat and sunscreen on and rest in the shade.
    {% include blog_img.html path="nenggaoandongjun/061.JPG" text="The stream is a few meters wide, you'll have to cross it for the first
    time just after about a 100m of walking on the right bank." %}
    {% include blog_img.html path="nenggaoandongjun/062.JPG" text="Mind these short plants, the dried ones will stick to your shoes and
    pants." %}
    {% include blog_img.html path="nenggaoandongjun/063.JPG" text="Like so. It takes forever to clean." %}
    You'll notice a few streams on your right here and
    there and if you look closely you'll notice ribbons above one of them. That's the mountain trail crossing, ignore it and
    continue until eventually you'll reach a place where the river narrows. Look for ribbons on the right bank and climb out of the
    riverbed entering trail again. After a short hike you'll reach a small campground just before a  small stream. This campground is the fourth and final
    one of a series that goes through the mountain route. The first one was at the split of the two routes with the other two somewhere in
    between. The stream will be your last chance to get some water for a while so use it. It won't taste great (make sure you filter it),
    but you still have ways to go. Be careful of the river mouth here, it's quite a drop from here and the calm stream that you crossed a
    few times before is now bellowing below.
    {% include blog_img.html path="nenggaoandongjun/064.JPG" text="Not sure I'd be able to get back up from down there." %}
  </p>
  <p>
    {% include blog_img.html path="nenggaoandongjun/065.JPG" text="Trail entrance after the small stream." %}
    I hope you missed a good climb! This section will have three points where it crosses a ridge and some of them might have reception.
    They're tricky to spot, but are essentially gentle ridges that you cross. One thing I noticed is that the wind gets much stronger at
    those spots, that's one thing to look out for. Also there is one section here with a rickety ladder right above a cliff. Make sure
    you stash your poles and be very careful going down. After the initial steep climb there will be a few ups and downs, push on.
    {% include blog_img.html path="nenggaoandongjun/066.JPG" text="At some points you'll be treated this wonderful view of the riverbed you
    just crossed." %}
    {% include blog_img.html path="nenggaoandongjun/067.JPG" text="The rickety ladder. Still safer than Wushuang suspension bridge." %}
    You'll know when you reach the third ridge crossing when you spot an information board. It's always good to see those after a few days, they
    usually indicate you're close enough to civilisation. Turn left here and go up the mild slope, then down and up again.
    {% include blog_img.html path="nenggaoandongjun/068.JPG" text="Almost at the end you'll see the massive landslide on the southern side
    of Mahaipufushi Mt (馬海濮富士山) with Aowanda North Stream below. Remember that \"fresh\" lake water source around Baishi Lake? It's
    one of this river's tributaries." %}
    After that it's
    a steep and a bit slippery (dry pine needles on the ground) downhill, but eventually you'll reach Aowanda Park (奧萬大). At this point
    I was sure we're done, but there was still a bit of ground to cover.
  </p>
  <p>
    At the time we arrived, the famous Aowanda Suspension Bridge (奧萬大吊橋) was closed for renovation. Luckily there is an alternative
    route, climbing down to the river and crossing it over a temporary bridge. If the suspension bridge is open when you do this hike just
    cross and make your way to the Tourist Centre (遊客服務中心).
    {% include blog_img.html path="nenggaoandongjun/069.JPG" text="Dead trees in the riverbed of Aowanda North Stream." %}
    {% include blog_img.html path="nenggaoandongjun/070.JPG" text="Temporary bridge, quite sturdy!" %}
    {% include blog_img.html path="nenggaoandongjun/071.JPG" text="Final stretch of the riverbed." %}
    After getting out of the river bed you'll have to cross this section of the park and then another bridge. After the bridge there will be
    a split with both routes having the same distance and elevation. We took the left one, it looked easier.
    {% include blog_img.html path="nenggaoandongjun/072.JPG" text="If you take the same route we did you'll eventually see the riverbed of
    Aowanda River with both South and North rivers combined." %}
    {% include blog_img.html path="nenggaoandongjun/073.JPG" text="Just when you thought it's over..." %}
    {% include blog_img.html path="nenggaoandongjun/074.JPG" text="Finished!" %}
    Make your way up to the second floor
    (final steps) and rest a bit in the restaurant enjoying a proper meal and a can of coke - you deserve it.
  </p>
</section>
<section>
  <h2 id="alternatives" class="text-4xl font-bold">Alternative itineraries</h2>
  <p>
    The hike took us 4 days. Despite many hikers on that weekend taking 4 days as well, this is considered fast by some. Here is an analysis
    of total time and possible suggestions for more and less days.
  </p>
  <p>
    First a quick analysis: the total map time is 41h 13min. It took us a bit longer at 43h 26min. The actual day lengths were as follows:
    <ol>
      <li>Day 1: 13h 11m</li>
      <li>Day 2: 10h 24m</li>
      <li>Day 3: 10h 49m</li>
      <li>Day 4: 09h 02m</li>
    </ol>
    First day being the longest, the remaining ones are split evenly enough. If you plan to do 4 days stick to this plan. I'll derive the
    plans below splitting map time into day chunks as evenly as possible. Also all of these plans assume river trail at the end, mountain
    trail adds about 25mins.
  </p>
  <h3 id="alt-6-days" class="text-2xl font-semibold">6 days</h3>
  <p>
    For 6 days the average day is 6h 52m long assuming map speed.
    <ol class="list-decimal list-inside">
      <li>First night lands somewhere around the monument. If you have time push to the electricity tower or Kaheer Mt. Probably a good idea
      to bring water from the cabin.</li>
      <li>The South Peak seems to be the limit here, camp at China Lake.</li>
      <li>One of the campsites between South Peak and Guangtou Mt, after the valley campsite. First one is called 3159 peak campsite
        (despite being quite a distance from the peak), second doesn't have a name.</li>
      <li>Camp before Andongjun Mt, no need to get the peak today but feel free to if you have time</li>
      <li>Bottom of the river, where river and mountain trail splits. There's a good campsite on the other side of the river, no need to
        camp inside it. The times here assume you'll take river trail, you'll have to </li>
    </ol>
  </p>
</section>
