---
layout: top_100
title: South Third Section 南三段
author: Dawid
excerpt: The longest and most remote cross trail in Taiwan, taking up to 10 days to finish.
tags: "Top 100"
hike_date: 2020-10-24 &ndash; 2020-10-28
info:
  - dt: Difficulty
    dd: "5/5"
  - dt: Duration
    dd: 5 days
  - dt: NP Permit required?
    dd: "No"
  - dt: Police Permit required?
    dd: "Yes"
  - dt: Date of the hike
    dd: 24 October 2020 &ndash; 28 October 2020
  - dt: Group size
    dd: 2
  - dt: Public transport
    dd: Unavailable
  - dt: Total length
    dd: 83km
  - dt: Total elevation gain
    dd: 7900m
  - dt: Water availability
    dd: About once daily, requires a detour in places
  - dt: Tent necessary?
    dd: "Yes"
  - dt: Closest Hot Spring
    dd: <a href="https://goo.gl/maps/ZgeBpDvoA4YVTakA9")>Dongpu Hot Spring</a>
---
<header>
  <div class="bg-gray-500 p-4">
    <div class="toc font-semibold mb-1">Table of contents</div>
    <ol>
      <li>
        <a href="#general-information">General information</a>
        <ol>
          <li class="ml-4"><a href="#top-100">Top 100 Peaks</a></li>
        </ol>
      </li>
      <li>
        <a href="#before-you-begin">Before you begin</a>
        <ol>
          <li class="ml-4"><a href="#trail-entrances">Trail entrances</a></li>
          <li class="ml-4"><a href="#transportation">Transportation and parking</a></li>
          <li class="ml-4"><a href="#accommodation">Accommodation</a></li>
        </ol>
      </li>
      <li>
        <a href="#the-hike">The hike</a>
        <ol>
          <li class="ml-4"><a href="#day-1">Day 1</a></li>
          <li class="ml-4"><a href="#day-2">Day 2</a></li>
          <li class="ml-4"><a href="#day-3">Day 3</a></li>
          <li class="ml-4"><a href="#day-4">Day 4</a></li>
        </ol>
      </li>
      <li>
        <a href="#alternatives">Alternative itineraries</a>
        <ol>
          <li class="ml-4"><a href="#alt-6-days">6 days</a></li>
          <li class="ml-4"><a href="#alt-5-days">5 days</a></li>
          <li class="ml-4"><a href="#alt-3-days">3 days</a></li>
        </ol>
      </li>
    </ol>
  </div>
  <h2 id="general-information" class="text-4xl font-bold">General information</h2>
  {% for def in page.info %}
    <dl class="flex my-1">
      <dt class="w-2/5 font-semibold">{{def.dt}}</dt>
      <dd class="w-2/5">{{def.dd}}</dd>
    </dl>
  {% endfor %}
  <div>
    <h3 id="top-100" class="text-2xl font-semibold">Top 100 peaks on this trail</h3>
    <ul>
      <li>No. 48 Danda Mountain (丹大山), ele 3325m</li>
      <li>No. 59 Neilinger Mountain (內嶺爾山), ele 3275m</li>
      <li>No. 67 Yixiqingmazhi Mountain (義西請馬至山), ele 3245m</li>
      <li>No. 15 Donjungda Mountain (東郡大山), ele 3619m</li>
      <li>No. 30 Dongluanda Mountain (東巒大山), ele 3468m</li>
      <li>No. 71 Wushuang Mountain (無雙山), ele 3231m</li>
    </ul>
  </div>
  <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md my-8" role="alert">
    <div class="flex">
      <div class="py-1">
        <svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
        </svg>
      </div>
      <div>
        <p class="font-bold">This is a very fast and extremely difficult multi day hike</p>
        <p class="text-sm">
          It normally requires 10 days and we managed to cover it in half of that time. I do not recommend planning for anything shorter
          than 9 days unless your fitness, experience level and equipment allows it. Also, regardless of the itinerary, this is the longest and
          most remote cross trail of the Taiwanese Top 100 so I recommend attempting this only after clearing the other sections. Make sure
          everyone in your group is similarly experienced, also consider hiring a porter if you have a big group. Bring some kind of GPS
          communicator or a PLB in case things go wrong. Finally the last section of this trail
          is (at the moment of writing, October 2020) a choice of crossing an extremely dilapidated suspension bridge (officially closed) or
          bushwacking through an alternative trail that hasn't been prepared properly followed by crossing a big river. See
          <a href="day-4">Day 4</a> description. Be sure to check <a href="#alternatives" class="underline">alternative itineraries</a>.
        </p>
      </div>
    </div>
  </div>
</header>
<section class="mt-5 space-y-6">
  <h2 id="before-you-begin" class="text-4xl font-bold">Before you begin</h2>
  <h3 id="trail-entrances" class="text-2xl font-semibold">Trail entrances</h3>
  <p>
    The hike is usually done east to west. The east entrance is around 19th km of Ruisui Forest Road (瑞穗林道), where the road crosses the
    river:
    <ul>
      <li><a href="https://www.openstreetmap.org/#map=21/23.53489/121.27444&layers=C">OpenStreetMap</a></li>
      <li><a href="https://goo.gl/maps/uAo8cfBy6s2y7asb8">Google Maps</a></li>
    </ul>
  </p>
  <p>
    The west entrance is on the 33km of Junda Forest Road (郡大林道), also around an old bridge:
    <ul>
      <li><a href="https://www.openstreetmap.org/#map=19/23.59217/120.95672&layers=C">OpenStreetMap</a></li>
      <li><a href="https://goo.gl/maps/CsnSfcvZn2Vnv5Be8">Google Maps</a></li>
    </ul>
  </p>
  <h3 id="transportation" class="text-2xl font-semibold">Transportation</h3>
  <p>
    Both ends require 4WD cars to get to so you'll have to reserve two. The east end is more tricky as it's not used often,
    but on the west end you could technically try your luck and go down 1-2km to the entrance of nearby Junda Mt (郡大山). On the weekends
    it's full of cars waiting for hikers doing that mountain and one of them could potentially help you down, but it's down to luck and
    after such a long hike it's better not to risk it. In addition Junda Road has a checkpoint and your police permit <em>will</em> be
    checked so make sure you have it on you.
  </p>
  <p>
    There isn't much reception on the trail and the best times to contact the driver and confirm your ETA is around the last few peaks,
    namely Zhu (櫧山) and Wushuang mountains, including the top portions of the long downhill from the latter. After getting down to the
    valley it is unlikely you'll get any reception.
  </p>
  <h3 id="accommodation" class="text-2xl font-semibold">Accommodation</h3>
  <p>
    We stayed around Ruisui Station (瑞穗車站) before the first day, there's plenty of B&amp;Bs there. Another
    option would be to arrive in Ruisui in the morning, start the hike on the same day and sleep relatively close to the entrance.
    A good choice for the first night is an old cabin at 28km of the forest road, it took us about 2h30m to reach it from the entrance.
  </p>
</section>
<section class="mt-5 space-y-6">
  <h2 id="the-hike" class="text-4xl font-bold">The Hike</h2>
  <h3 id="day-1" class="text-2xl font-semibold">Day 1</h3>
  <p>
    After a short sleep we left our B&amp;B in Ruisui at 3AM. I was hoping to doze off more on the car, but I was probably too excited for
    what was about to happen. I was finally on route to what was supposed to be the most difficult hike in Taiwan.
  </p>
  <p>
    "10 days?! Are you sure?" I asked Andy a few years prior, just to make sure he didn't make a mistake when describing this trail. Taiwanese
    trails tend to be remote, but the island is so small I found this timeframe a bit odd. It then took a bit of planning with him to see how
    it can be squeezed into a shorter period. We settled on 5 days with a possibility of shortening to 4, but prepared to do 6 if something goes wrong.
    Given how remote and long this trail was there was one thing I was absolutely
    sure of &mdash; I'm not doing this alone. Luckily Petr &mdash; the Head Beast of <a href="https://beast.run/">Taiwan Beast Runners</a> &mdash; had the same thoughts about
    doing this alone so we ended up teaming for this one. In fact Petr helped me with another bit of this trail before, namely looking for
    alternative trail at the end bypassing Wushuang Bridge, but more on that later.
  </p>
  <p>
    Not being able to sleep I was trying to spot the km markers on the road. 11, 12, 13km... The mighty Delica crossed a few streams on the
    road and I asked the driver if it's always like this. "No", he replied, "it's just that there's been a lot of rain lately". That's both
    good and bad &mdash; we wouldn't have to worry about the water availability, but we can't be sure it wouldn't rain more. 17, 18, 19km,
    almost there. At around 19.3km mark there is an old concrete bridge that marks the end of this ride. Having arrived there we grabbed our
    stuff and I noticed a few leeches in the back of the car. Great, here we go. I always get a few of these little critters in the east. Little did
    I know this trip would be a bit different in that regard. After the driver left we noticed that the bridge had lots of water running not
    only under, but more importantly over it. It's always funny how you avoid water in the first few meters of the hike/run knowing
    perfectly well that in a few kms your shoes will be fully wet anyway.
  </p>
  <p>
    There is a bit of road after the bridge still, but very soon after you're essentially climbing up a small river. Switchbacks follow and
    it's really easy to get lost here. Be careful if you're here at night and/or when it's raining. Backtrack if you hit a dead end, we had
    to do that once or twice. It's just climbing up for now, but after a while the road widens again and it's quite a pleasant hike. You hit
    a river or a landslide here and there, but generally the trail is good enough to cover many kms in a short time.
  </p>
  <p>
    There is a surprisingly clean old cabin at 28km mark where hikers doing 10 day itinerary spend their first night. We rested here for a
    bit checking the detailed (even in English) map on its wall and continued after a while. It's been raining since we started, but it
    starts getting worse after we leave the cabin. And around this time we notice the first invaders on our legs. There are a few ways to
    remove them, most common being spraying them with salt or treating them with fire from a lighter. Salt was deep in our backpacks and
    lighter might not work in this rain so Petr had an idea to use the sunscreen spray he brought over. That ended up working just fine and
    that small bottle of sunscreen would end up being our best friend for the day.
  </p>
  <aside class="bg-blue-100 ml-5 p-3">
    I did some research after the hike and it turns out none of these approaches are recommended because they all agitate the leech and
    might force it to vomit into the wound and potentially cause infections before it detaches. The now recommended way to remove a leech is to locate its
    sucker end and put a fingernail between it and your skin and then flick it. There's plenty of resources on this online, make sure you acquaint yourself
    with this method. Wearing an insect repellant on you might help as well.
  </aside>
</section>
<section class="mt-5 space-y-6">
  <h3 id="day-2" class="text-2xl font-semibold">Day 2</h3>
  <p>
    It was around 2AM when first hikers woke up and started with their breakfast. We didn't sleep much the last few hours
    because of all the commotion, but got a bit more sleep after most hikers left waking up right before sunrise. The friendly porter from
    yesterday shared his water with us, they had enough from the fresh water source down the western slope of this hill. I haven't checked
    the source so unfortunately I'm unable to provide concrete directions. As we were preparing to leave we noticed small colourful dots on the
    next mountain - those were early risers still fighting with Nenggao South peak. We knew this would be a tough climb, but with the
    morning sun and a bit of sleep we were sure we could conquer it no problem.
  </p>
  {% include blog_img.html id="019" text="Moon setting down in the West. I believe the water source is somewhere
  down this direction." %}
  {% include blog_img.html id="020" text="Morning sun over Nenggao Main peak and the ridge we came from with Qilai
  peaks in the back" %}
  {% include blog_img.html id="021" text="The first climb of the day. We need to climb the peak on the left first
  and from there follow the ridge to Nenggao South visible on the right." %}
  {% include blog_img.html id="022" text="Our camping spot" %}
  <p>
    From the campground the trail is quite even for a while before starting the climb. There is a lot of overgrowth, but not more than
    yesterday.
  </p>
  {% include blog_img.html id="023" text="First look at the neighbouring Ganzhuowan peaks. Just to the left of the
    range Jade Mt peaks pop out in the distance." %}
  <p>
    After a while you'll hit a few tricky bits with ropes, stash your poles so that they don't get in the way and push on.
    There is one or two sections here where it's better to wait for the previous hiker to finish their climb due to falling rocks. Apart
    from that all you can do here is climb, it'll take a while. When you reach the top and climb a few giant rocks you should be able to see the peak.
    You won't be there yet, but you got the hardest part done. Take a rest, grab a bite and enjoy the view as it is magnificent on a clear day.
    If you look back you'll notice the campground in the saddle between this mountain and Nenggao Main Peak.
    Behind that peak Nanhua and Qilai peaks, extending to Qilai East Ridge. Closer to you the Ganzhuowan (干卓萬) range will be clearly
    visible in southwestern direction.
  </p>
  {% include blog_img.html id="024" text="Qilai East Ridge (奇萊東陵)" %}
  {% include blog_img.html id="025" text="The ridge we conquered yesterday with Nenggao Main Peak and Kaheer
  mountain. In the far back you can see the Snow Mountain West Range." %}
  {% include blog_img.html id="026" text="Way to the peak" %}
  From here it would take us another 2 hours to get to the South Peak with the sun strong enough to
  force us to rest at every shaded
  location we could find. Similarly to Kaheer Mt, the peak of Nenggao South is a very short trek out of the main trail. Drop your bags,
  grab the peak and again enjoy the wonderful views from here. This is the highest you're going to be on this trip as the South Peak is
  higher than the main, sitting at 3349m. It's also one of the Top 100, one of the two you'll do on this day.
  {% include blog_img.html id="027" text="The South Peak of Nenggao Mt. In the back the three remaining Top 100
  peaks, in order: Guangtou Mt, Baishi Mt and Andongjun Mt." %}
  <p>
    After a proper lunch break (nothing beats a sandwich with fresh tomato!) it was time to head down the mountain.
  </p>
  {% include blog_img.html id="028" text="On the way down from the South Peak." %}
  <p>
    As you start your
    descend you'll notice a few peaks in a group in front of you - the last of those peaks is your next target. Before reaching
    it you'll have to go all the way down to the valley. This descent is very steep and seemed more painful than the way up.
    There's a lot of big holes here so be careful and take your time.
  </p>
  {% include blog_img.html id="029" text="Really steep." %}
  <p>
    There's a campground at the bottom, but more importantly if you turn
    left (east) along the river you will eventually hit fresh water. There's still a few hours ahead of you and not many water sources so make sure you get plenty.
  </p>
  <p>
    Another climb awaits, luckily not as steep as the last one. You'll reach a peak eventually, the bad news is that's not the peak you
    want. The good news is this was your last serious climb for the day since Guangtou Mt (光頭山) is actually lower than this one. In
    fact there's a bunch of peaks here, but for some reason the peak marker is not on any of them. In any case continue downhill, steep in
    places, until you hit a small campground on the left before a small uphill.
  </p>
  {% include blog_img.html id="030" text="Steep here too." %}
  <p>
    Continue up and tread along until you hit another small campground,
    also on your left. After a very short while you should see some mud on the path - there is a small water source around
    here, should you need it. Push on and after another short while you'll see people on the peak. Well peak might be too big of a word
    for that, I honestly don't know what's up with this mountain. Take the pictures of your third Top 100 and the last one for the day. It was
    quite late at this time so we hurried on to the campsite.
  </p>
  {% include blog_img.html id="031" text="The \"peak\" of Guangtou Mt" %}
  <p>
    The downhill from Guangtou starts with rappelling down a cliff, we hit a small traffic jam here and had to wait for a few people to get down.
  </p>
  {% include blog_img.html id="032" text="Traffic jam on the way down." %}
  <p>
    Be careful here! About a week after our trip someone fell here and needed helicopter rescue. Be sure to stash your poles, use both arms to
    hold the line and make your way down slowly finding firm places to step on. There is a small easy landslide section after the cliff,
    but after it another gruelling
    downhill begins. It'll take about an hour of fighting through the undergrowth but eventually you'll see the tents scattered in front
    of Baishi lake (白石池).
  </p>
  {% include blog_img.html id="033" text="First glimpse of the campsite below the clouds." %}
  {% include blog_img.html id="034" text="Finally at the campsite, Baishi Mt visible in the distance." %}
  <p>
    We arrived at the campsite around 5PM, happy to see Ada and Peggy again.
    There is plenty of lakes here, but
    there's also a "fres" water source around. Looking back on it I'm not sure it's worth the visit, particularly when it's
    cloudy. It's pretty far, tricky to find and it's a lake outlet so not particularly fresher than the alternatives. With the whole area being relatively flat and full
    of lakes it can be really difficult to find your way back when clouds roll in. In fact someone got lost that evening and it took the
    porters a while to find him. Unless the weather is crystal clear and you don't mind the hike, filter the water from the big lake.
    As the night approached the campsite got encroached by the Sambar deer, beautiful animals that this campground (and trail in general) is
    known for. Over the years they unfortunately got used to hikers feeding them and so they might approach your tent uncomfortably close.
  </p>
  <aside class="bg-blue-100 ml-5 p-3">
    As with any wildlife make sure you don't feed the deers, try not to scare or touch them either. Occasionally they'll approach you,
    usually in small groups. Don't be alarmed, they're quite big, but completely harmless. When you go to sleep make sure all your food
    and other items are inside the tent. Not under the vestibule, they'll grab that, inside the tent proper.
  </aside>
  {% include blog_img.html id="035" text="Nothing like a proper food made by the best cook on the mountain." %}
</section>
<section class="mt-5 space-y-6">
  <h3 id="day-3" class="text-2xl font-semibold">Day 3</h3>
  <p>
    We woke up to an almost empty campground again, just before sunrise. Took us a while to get organised and snap some sunrise pictures,
    but eventually we headed to the trail.
    <aside class="bg-blue-100 ml-5 mb-3 p-3">
      Make sure you clean up thoroughly after yourself, the deers will be looking for any food scraps
      you might have left behind.
    </aside>
  </p>
  {% include blog_img.html id="036" text="Guangtou Mt in the morning sun." %}
  {% include blog_img.html id="037" text="Baishi Mt and a deer chilling in the lake, Mononoke Hime vibes." %}
  {% include blog_img.html id="038" text="Deers enjoying the morning sun. Groups about this size will approach you
  often." %}
  {% include blog_img.html id="039" text="Baishi Lake." %}
  <p>
    You can see the next mountain from the lake that you camped at, Baishi Mt (白石山). Bring some water with you,
    but just enough for the morning - there's a few points to refill on the way. Before you start the proper ascent walk to the left side of
    Baishi Lake, a bit above and after a while to the left of another lake. The "fresh" water source comes from this lake, on the other
    side. The hike up will take a while, but it's easier than previous morning.
  </p>
  {% include blog_img.html id="040" text="Silvergrass shining in the morning sun." %}
  <p>
    You'll start the hike heading directly at the peak, but
    eventually will circle to the left, go through a small forest and be on top shortly after that. Rest a bit and enjoy the
    views, on a clear day you can see as far as Yushan and Mabolasi in the far south. Directly North of you you should see Central Range Point
    peeking from behind Qilai peaks and Snow range to the left of that. You'll also see the final mountain of this range and your final
    climb for today: Andongjun Mt (安東軍山) in the south. It's a beautiful hike from this peak to that one, arguably the best section of
    this whole trip.
  </p>
  {% include blog_img.html id="041" text="Baishi Mt with Ganzhuowan behind me." %}
  {% include blog_img.html id="042" text="The three peaks we did in the past 2 days visible here, with Baishi Lake
  sitting in a valley below." %}
  {% include blog_img.html id="043" text="View south over the Third South Section and Mabolasi in the distance.
  Andondjun Mt, our final peak of this trip, visible on the left." %}
  <p>
    You should see quite a big lake below you and a hill after it, the hikers that got up before us were climbing it like little ants. The
    lake is called Wanli Lake (萬里池) and is the biggest of all the lakes you'll see in these few days.
  </p>
  {% include blog_img.html id="044" text="Wanli lake sitting in the valley below." %}
  <p>
    Make your way down the small peak next to this one and then further down to the lake.
  </p>
  {% include blog_img.html id="045" text="Almost at the bottom." %}
  <p>
    Once you reach the bottom you'll notice small streams here and there, there is a
    particularly good one at the end. The water is rushing quite strongly there so you should be able to notice it just by hearing, it'll be
    much louder than the other ones. Refill the water here for the next few hours and continue on to another nightmarish experience.
    The trail goes through a tall bamboo and with all the water around it's very muddy. You'll probably be careful in the
    beginnig, but this section is long enough that your shoes will eventually get muddy. After this section you'll reach a big clearing that you
    probably saw during the descent, a bit more bamboo follows and the climb begins.
  </p>
  <p>
    This part is pretty steep and seems high, but in reality it's less than 200m elevation gain.
    You'll reach a small pointy peak and from there continue traversing a few hills before eventually heading down to yet
    another lake: Tunlu Lake (屯鹿池).
  </p>
  {% include blog_img.html id="046" text="Tunlu Lake and Andongjun Mt in the back. Don't worry about the peak on
  the left, you won't be climbing that." %}
  <p>
    You'll hear some water here as well and if you really need to feel free to refill, but keep in mind
    there is a much nicer source not far from here. After you circle the lake you'll end up at a small campground, after which you'll see
    small sister lake (it literally has a "little sister" in its name) that you'll have to cross. The trail here might be a bit
    tricky, you'll want to go left (east) just before the lake, circle around by crossing the muddy ground and climb back up. Look for
    ribbons. After you cross the small ridge you'll find a stream, refill the water here. We got here around 12:30, if it's later or you
    feel tired you should probably fill in much more water here, enough for the night and next morning. Cross the river and continue slightly upwards. After a
    while you'll clear all the small hills and see the intersection before the last mountain.
  </p>
  {% include blog_img.html id="047" text="Andongjun Mt getting closer." %}
  {% include blog_img.html id="048" text="The intersection campground had a small lake in it, the intersection
  itself is right next to the bigger one." %}
  <p>
    The campsite here is literally called "Three
    way intersection campground" (三岔路口營地). Drop your bags around the lake, grab a small backpack if you have it or just a bottle of
    water if you don't and start climbing your last peak.
  </p>
  {% include blog_img.html id="049" text="We ran into Ada and Peggy again here, us climbing the mountain and them
  going down. This would be the last time we'd see them until the end of the hike." %}
  <p>
    Andongjun Mt is barely over 3000m, but this climb will still take you about an
    hour. It's worth it - the views from this peak are wonderful. You can see all the mountains you did over the last few days and the
    beautiful grassy hills to the south.
  </p>
  {% include blog_img.html id="050" text="View south from Andongjun Mt with the Third South Section and Mabolasi
  in the distance." %}
  {% include blog_img.html id="051" text="Tati with her final peak for this trip and all the other one we bagged
  visible behind her." %}
  Make your way back to the intersection.
  <p>
    By the time we finished the mountain it was around 3PM, but given that the next campground was only a few km away and all downhill we
    decided to continue. If you're here later than that I suggest stopping for the. I also suggest this campsite if it's rainy or about
    to rain, the other campsites might be dangerously close to the river if water level is too high. The campsite is very close to the
    intersection and if you haven't
    taken any water from the previous source you can filter the one from the small lake or look for a stream. I believe there should be one in
    both east and west directions. I saw porters looking for water on the west side, north of the trail going down. Be careful where
    looking for water here, it's all bamboo and there might be some dangerous drops here.
  </p>
  <p>
    Should you decide to continue brace yourself for a steep downhill. Not much to write about this section really, just push on down.
  </p>
  {% include blog_img.html id="052" text="Most of the downhill is boring and tough, but there are some fun
  sections." %}
  <p>
    There are two hunter's campgrounds here, literally called first hunter's campground (第一獵寮) and second hunter's campground (第二獵寮).
    Before you reach them you have to reach a stream that you'll be following all the way to Wanda South River (萬大南溪). At first you'll hear
    a stream to your right - that's not the one you're interested in. Once you hear a stream to your left you'll know
    you're close. Just before crossing the stream you'll notice a very small campground with a tarp on the ground. There's just enough
    space here for one or two tents, but another tent could potentially be set up on the other side of the river. Both of these are close
    to the river so be wary if it rains. Now up to this day I'm not sure if this is actually hunter's campground 1. The yellow sign you
    see here says it's not, but it's incorrect in many other regards (distances, position).
    <aside class="bg-blue-100 ml-5 p-3">
      You've seen these yellow signs throughout the hike and normally markers like this are helpful, but from now on it's safer to ignore
      them. Pretty much everything about them is wrong: coordinates and locations are way off and distances don't make sense.
    </aside>
    The next good campground is about
    3h away, something we were painfully unaware of. We refilled our water and continued.
  </p>
  {% include blog_img.html id="053" text="After crossing the river for the first time. Camping possible before
  crossing, around where you can see the ribbon." %}
  <p>
    After you cross the stream and go a
    bit below there is another place where you could potentially set up a tent or two. Continue down the river, to the other side and down
    again. Before we reached the river I was sure I saw some people, but since we didn't see anyone I figured my eyes were playing tricks on me.
    At this point though I noticed them again though so was sure we have some hikers ahead of us. We reached the river bed again and noticed a place where we
    could set up camp. It was in a dry river bed so not perfect, but the water level in the main river was low and no rain in forecast so we took the
    risk. As I was ready to set the tent though I heard people talking. I still wasn't sure about the first campground: have we reached it already or
    is it just in front of us? With that uncertainty in mind I shouted for the people ahead to wait a bit, switched to trail running mode
    on and ran to catch up with them. They were quite surprised to see me there, but informed me that indeed they couldn't find the first
    campground either. Bummed out I headed back only to hear them shouting back at me "Hey there's a campground here!" It was a very
    small one, just for one tent, but it wasn't right next to the river. They decided to continue so I went back to tell Tati the good
    news and after a while we set up our tent on the ledge high above the river. Finally done with this long day.
  </p>
  {% include blog_img.html id="054" text="Our small campsite." %}
</section>
<section class="mt-5 space-y-6">
  <h3 id="day-4" class="text-2xl font-semibold">Day 4</h3>
  <p>
    We woke up just before sunrise again and headed out. We knew the road ahead was tricky and didn't want to cover any of it at night. The
    first hour or two was just more of the same - steep downhill, cross the river, steep downhill...
  </p>
  {% include blog_img.html id="055" text="Going down the river bed requires maneuvering between huge rocks." %}
  <p>
    Eventually, just after 7AM, we reached the second hunter's campground. This is a proper one - enough space for a few small groups and still close enough to
    the river to fetch the water. Ada and Peggy spent the night here, so did the people I ran into last night. They must have covered a
    lot of ground at night.
  </p>
  {% include blog_img.html id="056" text="The second hunter's campground. There's at least the same amount of space
  on the left side behind those trees." %}
  <p>
    After the campground the trail
    goes up quite a bit, this climb took us by surprise. You then traverse the hill and eventually go down again to another small
    campground right next to the river. We assumed we can cross the river here, but things are never that easy here in Taiwanese
    mountains. From the campground you still have to climb up a bit and then go down again reaching the stream. Right after crossing it
    we reached a perfect spot for our late breakfast.
  </p>
  {% include blog_img.html id="057" text="Finally out of the long downhill, time to eat something." %}
  {% include blog_img.html id="058" text="Spicy noodles, second best thing after hot pot." %}
  <p>
    There is a choice to be made here as there are two trails that follow. The official
    trail climbs a nearby ridge and goes parallel to the river crossing a few campgrounds. The unofficial one goes right along the river.
    The riverbed of Aowanda South River, at this point, is a good few hundred meters wide with the stream itself meandering in a few
    meters wide ditch. If the weather
    is good and water level is not too high I recommend going along the river. If it's raining hard (or has been in the previous days),
    enough to give you trouble on the previous crossings, take the high way.
    The split might be a bit tricky to find as most ribbons point you to the mountain trail, just go down along the
    river and look for ribbons and stacked stones.
  </p>
  <p>
    You'll have to cross this old stream two times before reaching the big river. After the second crossing you'll go through a small forest
    and see the main river.
  </p>
  {% include blog_img.html id="059" text="The last time you'll cross this stream as it joins Aowanda South Stream." %}
  {% include blog_img.html id="060" text="View over Aowanda South Stream, around the place you have to go down.
  You'll follow it all the way to that forested mountain riddled with landslides." %}
  <p>
    It's quite a view, this experience will be quite different from the few last days. Follow the
    ribbon and go down to the riverbed, turn right and continue in the north direction. You'll have to cross the stream a few times, depending on what you wear you might want to take your
    shoes off. If you're hiking in trail running shoes don't bother, they'll dry instantly and you won't waste time putting them on and
    off again. This section is about 3km long, but it's a pleasure to walk on a "trail" like this and shouldn't take you too long. One thing
    to mind here is the sun, make sure you put your hat and sunscreen on and rest in the shade.
  </p>
  {% include blog_img.html id="061" text="The stream is a few meters wide, you'll have to cross it for the first
  time just after about a 100m of walking on the right bank." %}
  {% include blog_img.html id="062" text="Mind these short plants, the dried ones will stick to your shoes and
  pants." %}
  {% include blog_img.html id="063" text="Like so. It takes forever to clean." %}
  <p>
    You'll notice a few streams on your right here and
    there and if you look closely you'll notice ribbons above one of them. That's the mountain trail crossing, ignore it and
    continue until eventually you'll reach a place where the river narrows. Look for ribbons on the right bank and climb out of the
    riverbed entering trail again. After a short hike you'll reach a small campground just before a  small stream. This campground is the fourth and final
    one of a series that goes through the mountain route. The first one was at the split of the two routes with the other two somewhere in
    between. The stream will be your last chance to get some water for a while so use it. It won't taste great (make sure you filter it),
    but you still have ways to go. Be careful of the river mouth here, it's quite a drop from here and the calm stream that you crossed a
    few times before is now bellowing below.
  </p>
  {% include blog_img.html id="064" text="Not sure I'd be able to get back up from down there." %}
  {% include blog_img.html id="065" text="Trail entrance after the small stream." %}
  <p>
    I hope you missed a good climb! This section will have three points where it crosses a ridge and some of them might have reception.
    They're tricky to spot, but are essentially gentle ridges that you cross. One thing I noticed is that the wind gets much stronger at
    those spots, that's one thing to look out for. Also there is one section here with a rickety ladder right above a cliff. Make sure
    you stash your poles and be very careful going down. After the initial steep climb there will be a few ups and downs, push on.
  </p>
  {% include blog_img.html id="066" text="At some points you'll be treated this wonderful view of the riverbed you
  just crossed." %}
  {% include blog_img.html id="067" text="The rickety ladder. Still safer than Wushuang suspension bridge." %}
  <p>
    You'll know when you reach the third ridge crossing when you spot an information board. It's always good to see those after a few days, they
    usually indicate you're close enough to civilisation. Turn left here and go up the mild slope, then down and up again.
  </p>
  {% include blog_img.html id="068" text="Almost at the end you'll see the massive landslide on the southern side
  of Mahaipufushi Mt (馬海濮富士山) with Aowanda North Stream below. Remember that \"fresh\" lake water source around Baishi Lake? It's
  one of this river's tributaries." %}
  <p>
    After that it's
    a steep and a bit slippery (dry pine needles on the ground) downhill, but eventually you'll reach Aowanda Park (奧萬大). At this point
    I was sure we're done, but there was still a bit of ground to cover.
  </p>
  <p>
    At the time we arrived, the famous Aowanda Suspension Bridge (奧萬大吊橋) was closed for renovation. Luckily there is an alternative
    route, climbing down to the river and crossing it over a temporary bridge. If the suspension bridge is open when you do this hike just
    cross and make your way to the Tourist Centre (遊客服務中心).
  </p>
  {% include blog_img.html id="069" text="Dead trees in the riverbed of Aowanda North Stream." %}
  {% include blog_img.html id="070" text="Temporary bridge, quite sturdy!" %}
  {% include blog_img.html id="071" text="Final stretch of the riverbed." %}
  <p>
    After getting out of the river bed you'll have to cross this section of the park and then another bridge. After the bridge there will be
    a split with both routes having the same distance and elevation. We took the left one, it looked easier.
  </p>
  {% include blog_img.html id="072" text="If you take the same route we did you'll eventually see the riverbed of
  Aowanda River with both South and North rivers combined." %}
  {% include blog_img.html id="073" text="Just when you thought it's over..." %}
  {% include blog_img.html id="074" text="Finished!" %}
  <p>
    Make your way up to the second floor
    (final steps) and rest a bit in the restaurant enjoying a proper meal and a can of coke - you deserve it.
  </p>
</section>
<section class="mt-5 space-y-6">
  <h2 id="alternatives" class="text-4xl font-bold">Alternative itineraries</h2>
  <p>
    The hike took us 4 days. Despite many hikers on that weekend taking 4 days as well, this is considered fast by some. Here is an analysis
    of total time and possible suggestions for more and less days.
  </p>
  <p>
    First a quick analysis: the total map time is 41h 13min. It took us a bit longer at 43h 26min. The actual day lengths were as follows:
    <ol>
      <li>Day 1: 13h 11m</li>
      <li>Day 2: 10h 24m</li>
      <li>Day 3: 10h 49m</li>
      <li>Day 4: 09h 02m</li>
    </ol>
    First day being the longest, the remaining ones are split evenly enough. If you plan to do 4 days stick to this plan. I'll derive the
    plans below splitting map time into day chunks as evenly as possible. Also all of these plans assume river trail at the end, mountain
    trail adds about 25mins.
  </p>
  <h3 id="alt-6-days" class="text-2xl font-semibold">6 days</h3>
  <p>
    For 6 days the average day is 6h 52m long assuming map speed.
    <ol class="list-decimal list-inside">
      <li>First night lands somewhere around the monument. If you have time push to the electricity tower or Kaheer Mt. Probably a good idea
      to carry water from the cabin. A more comfortable alternative would be to stay at the cabin and walk a bit more the next day.</li>
      <li>The South Peak seems to be the limit here, camp at China Lake.</li>
      <li>One of the campsites between South Peak and Guangtou Mt, after the valley campsite. First one is called 3159 peak campsite
        (despite being quite a distance from the peak), second doesn't have a name.</li>
      <li>Camp before Andongjun Mt, no need to get the peak today but feel free to if you have time</li>
      <li>Bottom of the river, where river and mountain trail splits. There's a good campsite on the other side of the river, no need to
        camp inside it. The times here assume you'll take river trail, you'll have to </li>
    </ol>
  </p>
  <h3 id="alt-5-days" class="text-2xl font-semibold">5 days</h3>
  <p>
    For 5 days the average day is 8h 15m long assuming map speed.
    <ol class="list-decimal list-inside">
      <li>You'll need to camp after the cabin. Push as much as you can, Kaheer is a good option here.</li>
      <li>This might be a longer day, you'll need to make it to the campsite after the South Peak.</li>
      <li>Wanli Lake, after Baishi Mt.</li>
      <li>Second Hunter's campground.</li>
    </ol>
  </p>
  <h3 id="alt-3-days" class="text-2xl font-semibold">3 days</h3>
  <div role="alert">
    <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
      For trail runners with high mountain experience only!
    </div>
    <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
      Do not attempt this unless you're an experienced and fast trail runner, having done a few easier runs or fast hikes in the high
      mountains. Depending on your speed and the date of the hike you might have to start before sunrise and end after sunset.
    </div>
  </div>
  <p>
    This is where things get interesting, 3 days should be possible for the faster folks. Most of this trail is not runnable so you'll have to fast hike it.
    The runnable sections include the Nenggao Cross Trail until the Monument, some parts of Guangtou Mt and the long section between Baishi
    Lake and Andongjun Mt.
    Downhill is very technical, but after that you could try and run the river and the trails that follows. That all being said you'll have to
    bring a bigger backpack so running might not be a good option, fast hiking should still get you through in 3 days. There is another
    small difficulty at the end of the trail since Aowanda park will probably be closed by the time you finish. You might have to walk all the way to the
    exit instead of Tourist Centre, that's another 1-2km on the road.
  </p>
  <p>
    Campsites for first and second night
    <ol class="list-decimal list-inside">
      <li>China Lake, same as in 4 day itinerary. It would be great if you could camp after South Peak, but that's probably too much.</li>
      <li>Tunlu lake.</li>
    </ol>
  </p>
</section>
